.cantent {
    margin-bottom: 100px;
    .inner-container {
        h2 {
            margin-bottom: 30px;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 28px;
            text-align: center;
        }

        .middle-cantent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;
            .cantent-left {
                background-color: #8d9fbd;
                padding: 40px;
                h4 {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #D9B164;
                    letter-spacing: 1px;
                }
                h2 {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 64px;
                    color: #111821;
                    line-height: 1.1em;
                    margin-bottom: 30px;
                    text-align: left;
                }
                p {
                    line-height: 1.8em;
                    font-size: 16px;
                    color: #ffffff;
                    margin-bottom: 20px;
                }
                img {
                    width: 100%;
                    height: 350px;
                }
            }
        }
        .content-right {
            .form {
                padding: 40px;
                background-color: #edeaea;
                form {
                    p.file-field {
                        margin-bottom: 20px;
                        input {
                            border: none;
                            padding: 0;
                            box-shadow: none;
                        }
                    }
                    p.single-field {
                        margin-bottom: 28px;
                        label {
                            display: block;
                            margin: 0 0 12px;
                            font-weight: bold;
                        }
                        input, textarea {
                            font-size: 18px;
                            width: 100%;
                            border-radius: 6px;
                            padding: 0 12px;
                            height: 40px;
                            line-height: 40px;
                            color: #333333;
                            border: none;
                            outline: none;
                            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
                            border: 1px solid #cccccc;
                        }
                        textarea {
                            width: 100%;
                            height: 150px;
                        }
                    }
                    button {
                        width: 170px;
                        height: 50px;
                        font-size: 18px;
                        background-color: #dd4814;
                        border: none;
                        cursor: pointer;
                        border-radius: 4px;
                        color: #fff;
                        margin: 0 0 20px;
                        &:hover {
                            background-color: #85370d;
                            border-color: #4b2015;
                        }
                    }
                }
                p {
                    a {
                        color: #2ea3f2;
                        text-decoration: none;
                        &:hover {
                            color: #3683b7;
                        }
                    }
                }
            }
        }
    }
}