header {
    .inner-container {
        height: 80px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .logo {
            a {
                img {
                    width: 142px;
                    height: 43px;
                }
            }
        }
        .menu {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 20px;
                    a {
                        text-decoration: none;
                        color: #2ea3f2;
                        font-size: 24px;
                        font-weight: 600;
                        &:hover {
                            color: #2072a9;
                        }
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}